<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accelist - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/simple-sidebar.css" type="text/css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body style="font-family: 'Lato', sans-serif;">
    <div id="wrapper" class="background-page">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-side-font">
                <li class="sidebar-brand" style="height: 80px">
                    <img src="~/Assets/Images/user.png" class="img-responsive" style="margin:auto">
                </li>
                <li>
                    <a href="#" class="nav-side-link">
                        <span class="nav-side-register-icon">
                            
                        </span>
                        Register
                    </a>
                </li>
            </ul>
        </div>

        <div class="navbar navbar-fixed-top top-navbar-container">
            <div class="container nav-top-logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Assets/Images/accelist_logo.png" class="img-responsive" style="margin: auto" />
                </a>
            </div>
        </div>
        @*<div class="navbar navbar-fixed-top top-navbar-container">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/Assets/Images/Accelist_Logo.png" class="img-responsive"/>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>*@
        <div class="container body-content body-content-auto-width">
            @RenderBody()
            @*<hr />
                <footer>
                    <p>&copy; Accelist Information System - @DateTime.Now.Year</p>
                </footer>*@
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", false);
</body>
</html>
