@model Accelist.InformationSystem.APILayer.Models.ViewModels.RegisterModel

@{
    ViewBag.Title = "Register";
}

@section styles{
    <link href="~/Content/AccelistInformationSystem.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/AccelistInformationSystem.js" type="text/javascript"></script>
}



<div id="registrationForm" class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>
                <strong>
                    Registration Form
                </strong>
            </h2>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/PartialView/_FormList.cshtml")

    <div class="col-md-10 register-container">
        <form action="/Account/Register" method="post" class="form-horizontal" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div id="personalForm">
                @Html.Partial("~/Views/Shared/PartialView/_PersonalForm.cshtml")
            </div>

            <div id="mainFamilyForm">
                @Html.Partial("~/Views/Shared/PartialView/_MainFamilyForm.cshtml")
            </div>

            <div id="biologicalFamilyForm">
                @Html.Partial("~/Views/Shared/PartialView/_BiologicalFamilyForm.cshtml")
            </div>

            <div id="workExpForm">
                @Html.Partial("~/Views/Shared/PartialView/_WorkExperienceForm.cshtml")
            </div>

            <div id="academicRecordForm">
                @Html.Partial("~/Views/Shared/PartialView/_AcademicRecordForm.cshtml")
            </div>

            <div id="workshopRecordForm">
                @Html.Partial("~/Views/Shared/PartialView/_WorkshopRecordForm.cshtml")
            </div>

            <div id="bankAccountForm">
                @Html.Partial("~/Views/Shared/PartialView/_BankAccountForm.cshtml")
            </div>

            <div id="otherRecordForm">
                @Html.Partial("~/Views/Shared/PartialView/_OtherRecordForm.cshtml")
            </div>

            <div id="agreeForm">
                @Html.Partial("~/Views/Shared/PartialView/_AgreeForm.cshtml")
            </div>
        </form>
    </div>
</div>