@model Accelist.InformationSystem.Web.Engine.Models.ViewModels.RegisterModel

<div class="panel panel-default panel-align">
    <div class="panel-heading panel-heading-background">
        <div class="panel-title panel-title-blue">
            <h2>
                <strong>Biological Family Data</strong>
            </h2>
        </div>
    </div>
    <div class="panel-body form-table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        Relation
                    </td>
                    <td>
                        Full Name
                    </td>
                    <td>
                        Date of Birth
                    </td>
                    <td>
                        Place of Birth
                    </td>
                    <td>
                        Gender
                    </td>
                    <td>
                        Job
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="biologicalFamilyTableRow">
                <tr>
                    <td>
                        <label class="control-label">
                            Father
                        </label>
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.DadName, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.DadBirthDate, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.DadBirthPlace, new { @class = "form-control" })
                    </td>
                    <td>
                        <label class="control-label">
                            Male
                        </label>
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.DadJob, new { @class = "form-control" })
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">
                            Mother
                        </label>
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MomName, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MomBirthDate, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MomBirthPlace, new { @class = "form-control" })
                    </td>
                    <td>
                        <label class="control-label">
                            Female
                        </label>
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MomJob, new { @class = "form-control" })
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">
                            Sibling #1
                        </label>
                    </td>
                    <td>
                        <input id="siblingFullName1" type="text" class="form-control" />
                    </td>
                    <td>
                        <input id="siblingBirthDate1" type="text" class="form-control" />
                    </td>
                    <td>
                        <input id="siblingBirthPlace1" type="text" class="form-control" />
                    </td>
                    <td>
                        @{
                            var listItem = new List<SelectListItem> {
                                new SelectListItem{ Text = "Male", Value = "0", Selected = true},
                                new SelectListItem{ Text = "Female", Value = "1"}
                            };    
                        }
                        @Html.DropDownList("siblingGender1", new SelectList(listItem, "Value", "Text"), new { @class="form-control" })
                    </td>
                    <td>
                        <input id="siblingJob1" type="text" class="form-control" />
                    </td>
                    <td>
                        <label class="control-label">
                            <input id="siblingIsYourself1" type="checkbox" class="form-control" />
                            Yourself
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="siblingBtn" class="pull-right">
            <button id="addSiblingBtn" type="button" class="btn btn-success">
                Add Sibling
            </button>
        </div>
    </div>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                