@model Accelist.InformationSystem.Web.Engine.Models.ViewModels.RegisterModel

<div class="panel panel-default panel-align">
    <div class="panel-heading" style="background-color: white">
        <div class="panel-title panel-title-blue">
            <h2>
                <strong>Main Family Data</strong>
            </h2>
        </div>
    </div>
    <div class="panel-body" style="font-weight: 600">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        Relation
                    </td>
                    <td>
                        Full Name
                    </td>
                    <td>
                        Date of Birth
                    </td>
                    <td>
                        Place of Birth
                    </td>
                    <td>
                        Gender
                    </td>
                    <td>
                        Job
                    </td>
                </tr>
            </thead>
            <tbody id="mainFamilyTableRow">
                <tr>
                    <td>
                        <label id="mateRelation" class="control-label">
                            Wife
                        </label>
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateName, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateBirthDate, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateBirthPlace, new { @class = "form-control" })
                    </td>
                    <td>
                        <label id="mateGender" class="control-label">
                            Female
                        </label>
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateJob, new { @class = "form-control" })
                    </td>
                </tr>
                @*<tr>
                    <td>
                        <label class="control-label">
                            Child #1
                        </label>
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateName, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateBirthDate, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateBirthPlace, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.EnumDropDownListFor(Q => Q.MateGender, new { @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBoxFor(Q => Q.MateJob, new { @class = "form-control" })
                    </td>
                </tr>*@
            </tbody>
        </table>
        <div id="childBtn" class="pull-right">
            <button id="addChildBtn" type="button" class="btn btn-success">
                Add Child
            </button>
        </div>
    </div>
</div>