@model Accelist.InformationSystem.Web.Engine.Models.ViewModels.RegisterModel

<div id="otherRecordFormPanel" class="panel panel-default panel-align">
    <div class="panel-heading panel-heading-background">
        <div class="panel-title panel-title-blue">
            <h2>
                <strong>Other Record Data</strong>
            </h2>
        </div>
    </div>
    <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(Q => Q.JamsostekId, "BPJS TK", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(Q => Q.JamsostekId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Q => Q.JamsostekId, "", new { @class = "error-msg" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Q => Q.NPWPId, "NPWP Number", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(Q => Q.NPWPId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Q => Q.NPWPId, "", new { @class = "error-msg" })
                </div>
            </div>
    </div>
</div>